body{
    line-height: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}

h3{
    margin: 30px;
}

/***  Nav Bar  ***/
nav {
    width: 100%;
    margin: 0;
    background: #000000;
    position: fixed;
    z-index: 999;
}
nav ul{
  
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li{
    list-style: none;
    float: left;

}
ul.topnav li.topnav-right{
float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.8s;
}
ul.topnav li a:hover{
background-color: crimson;
color: #fff;
}

ul.topnav li.dropdownIcon{
    display: none;
}
.row {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to bottom right,#141e30 ,  #243b55);
    flex-wrap: wrap;
    height: 300px;
}
.row-1{
    padding-top: 50px;
    flex: 1;
    order: 1;
}
.row-1 .content{
    padding-top: 70px;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

/*******Box Section ************/
.row-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    position: relative;
    justify-content: center;
    top: -60px;


}

.row-box .contact-us-boxes-1{
   
    width: 400px;
    height: 400px;
    margin: 10px;
    color: black;
    background-color: white;
    text-align: center;
    border: 2px solid white;
    box-shadow: 2px 2px 4px #888888;
}
.inside-boxes{
    margin-top: 100px;
}
.row .contact-us-boxes-1 p{
    line-height: 2px;
    letter-spacing: 2px;
}
.icon img{
    width: 50px;
    height: 50px;
    align-items: center;
    margin-top: 50px;
}




/**Footer Section CSS**/


.footer{
    background-color: black;
    
}

.row-footer{
    display: flex;
    align-items: center;
    justify-content: center;

}
.col-1-1,.col-1-2 h2{
    color: white;
}
.col-1-1{
    flex:3;
    height: 150px;
    padding: 20px;
}
.col-1-2{
flex:1;
height: 150px;
    padding: 20px;
}
ul{
    list-style: none;
    font-size: 19px;
}



/**Media Query **/
@media screen and (max-width: 900px)
{
article p{
        font-size: 15px;
        padding: 2px;
    }
 ul.topnav li:not(:nth-child(1)){
     display: none;
 }   
 
 ul.topnav li.dropdownIcon{
     display: block;
     float: right;
 }

ul.topnav.responsive li.dropdownIcon{
    position: absolute;
    top: 0;
    right: 0;
}
h1.section2Header{
    font-size: 45px;
}

 ul.topnav.responsive{
     position: relative;
 }
 ul.topnav.responsive li{
     display: inline;
     float: none;
 }
 ul.topnav.responsive li a{
     display: block;
     text-align: left;
 }
 .col-7, .col-5,.col-6,.col-8,.col-4{
     width: 100%;
     margin: 0;
     margin-top: 15px;
 }
 .col-4,.col-12{
     width: 100%;
     margin: 0;
     overflow-x:hidden;
 }
 div.mobileStack{
     width: 50%;
     display: block;
 }
 .row{
     width: 100%;
     margin: auto;
 }
 table{
    display: block;
}

@media screen and (max-width: 852px)
{
    .row-box .contact-us-boxes-1
    {
        width: 100%;
    }  
    footer.footsy{
        margin-top: 480px;
    }
}





