

::placeholder {
    font-style: italic;
    font-size: 20px;
    color: #fff;
    background: transparent;
    padding: 5px;
  }

/**********Defaults***********/


body{
    line-height: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

label{
    font-size: 35px;
}
p{
    font-size: 20px;
    line-height: 1.8;
}



/*************Nav Bar**********/

nav {
    width: 100%;
    margin: 0;
    background: #000000;
    line-height: 1.3;
    z-index: 999;
}
nav ul{
  
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li{
    list-style: none;
    float: left;

}
ul.topnav li.topnav-right{
float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.8s;
}
ul.topnav li a:hover{
background-color: crimson;
color: #fff;
}

ul.topnav li.dropdownIcon{
    display: none;
}
.row {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 1px rgb(0, 0, 0);
   
}
.row::after{
    display: table;
    clear: both;
    content:"";
    margin-top: 2rem;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width:91.66%}
.col-12 {width: 100%}

* {
    box-sizing: border-box;
}
.btn{
    padding: 10px;
    margin: 5px ;
    background-color: rgb(13 132 36);
    border: 2px solid #147923;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
}

/***********Customr stylr*********/

/* Footer.................. */

.footer{
    background-color: black;
    
}

.row-footer{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;

}
.col-1-1,.col-1-2 h2{
    color: white;
}
.col-1-1{
    flex:3;
    
    padding: 20px;
}
.col-1-2{
   flex:1;
    padding: 20px;
}
ul{
    list-style: none;
    font-size: 19px;
}
@media screen and (max-width:350px)
{
    .row-footer{
        display: block;
    }
}
/*********Footer Code Ends Here***********/

















.right-side-button{
    text-align: center;
}
.row1{
    margin-bottom: 0;
}

h1{
    line-height: 1.2;
}
.row2{
    margin: 0 auto;
    padding: 0;
}
.header-list{
    list-style: none; 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
}

 .item a{
    text-decoration: none;
    padding: 2px 5px ;
    justify-content: space-between;
    font-size: 1.5rem;
    color: rgb(50, 61, 216);
    font-weight: 500;
    margin: 5px 10px;
}
ul li a:hover{
    text-decoration: none;
    color: orangered;
}
.section-list{
    line-height: 1.5;
    font-size: 1.2rem;
    
}
.section-list ul{
    padding: 0;
    margin : 0 2px;
}
.item-2{
    font-size: 1.2rem;
    padding: 10px;
    list-style: none;
    box-shadow: 0 0 1px rgb(0, 0, 0);
    
}
.item-2 a{
    font-size: 1.2rem;
    
}
.nimcet-img{
    width: 100%
}

tr{
    height: 30px;
    font-size: 1.2rem;
    box-shadow: 0 0 1px rgb(0, 0, 0);
}
td{
    padding: 8px ;
    width: 50%;
    box-shadow: 0 0 1px rgb(0, 0, 0);
}
td.column-1{
    box-shadow: 0 0 1px rgb(0, 0, 0);
}
td.col-head,
.participating-college{
    text-align: center;
    background-color: darkblue;
    color: white;
}
.eligiblity-list li,
.process-list li{
    font-size: 20px;
}
table.eligibilty-table tr td{
    width: 33%;
}
.college-list tr td{
    width: 600px;
}
.ExamDetails{
    display: flex;
    justify-content: center
}

.tables{
    overflow-x: auto;
}

.section-list-header{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}


/**Media Query **/
@media screen and (max-width: 900px)
{
article p{
        font-size: 15px;
        padding: 2px;
    }
 ul.topnav li:not(:nth-child(1)){
     display: none;
 }   
 
 ul.topnav li.dropdownIcon{
     display: block;
     float: right;
 }

ul.topnav.responsive li.dropdownIcon{
    position: absolute;
    top: 0;
    right: 0;
}
h1.section2Header{
    font-size: 45px;
}

 ul.topnav.responsive{
     position: relative;
 }
 ul.topnav.responsive li{
     display: inline;
     float: none;
 }
 ul.topnav.responsive li a{
     display: block;
     text-align: left;
 }
 .col-7, .col-5,.col-6,.col-8,.col-4{
     width: 100%;
     margin: 0;
     margin-top: 15px;
 }
 .col-4,.col-12{
     width: 100%;
     margin: 0;
     overflow-x:hidden;
 }
 div.mobileStack{
     width: 50%;
     display: block;
 }
 .row{
     width: 100%;
     margin: auto;
 }
 table{
    display: block;
}
}
